In [1]:
!pip install yfinance
!pip install pandas
!pip install requests
!pip install bs4
!pip install plotly

Requirement already satisfied: yfinance in c:\users\dell\anaconda3\lib\site-packages (0.2.4)
Requirement already satisfied: html5lib>=1.1 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (2.4.0)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (39.0.1)
Requirement already satisfied: lxml>=4.9.1 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: requests>=2.26 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in c:\users\dell\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\dell\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2023.5.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2023.5.7)
Requirement already satisfied: bs4 in c:\users\dell\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\dell\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: plotly in c:\users\dell\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\dell\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [61]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [62]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data.Date, infer_datetime_format=True), y=stock_data.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data.Date, infer_datetime_format=True), y=revenue_data.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

# Question 1 - Extracting Tesla Stock Data Using yfinance

In [4]:
tesla = yf.Ticker("TSLA")

In [5]:
tesla_data = tesla.history(period="max")

In [6]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

# Question 2 - Extracting Tesla Revenue Data Using Webscraping

In [34]:
import requests
import pandas as pd

url_cur = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue#:~:text=Tesla%20revenue%20for%20the%20twelve,a%2070.67%25%20increase%20from%202020.'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url_cur, headers=header)

tesla_revenue = pd.read_html(r.text)[0]
tesla_revenue.head()

,Tesla Annual Revenue (Millions of US $),Tesla Annual Revenue (Millions of US $).1
0,2022,"$81,462"
1,2021,"$53,823"
2,2020,"$31,536"
3,2019,"$24,578"
4,2018,"$21,461"

In [36]:
tesla_revenue.tail()

,Tesla Annual Revenue (Millions of US $),Tesla Annual Revenue (Millions of US $).1
9,2013,"$2,013"
10,2012,$413
11,2011,$204
12,2010,$117
13,2009,$112

# Question 3 - Extracting GameStop Stock Data Using yfinance

In [37]:
gamestop = yf.Ticker("GME")

In [38]:
gme_data=gamestop.history(period="max")

In [39]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666417,1.666417,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

# Question 4 - Extracting GameStop Revenue Data Using Webscraping

In [40]:
url="https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data=requests.get(url).text

In [41]:
soup = BeautifulSoup(html_data,"html5lib")

In [43]:
import requests
import pandas as pd

url_cur = 'https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url_cur, headers=header)

gme_revenue = pd.read_html(r.text)[0]
gme_revenue.head()

,GameStop Annual Revenue (Millions of US $),GameStop Annual Revenue (Millions of US $).1
0,2023,"$5,927"
1,2022,"$6,011"
2,2021,"$5,090"
3,2020,"$6,466"
4,2019,"$8,285"

In [44]:
gme_revenue.tail()

,GameStop Annual Revenue (Millions of US $),GameStop Annual Revenue (Millions of US $).1
10,2013,"$8,887"
11,2012,"$9,551"
12,2011,"$9,474"
13,2010,"$9,078"
14,2009,"$8,806"

# Question 5 - Tesla Stock and Revenue Dashboard

In [63]:
make_graph(tesla_data, tesla_revenue, 'Tesla Stock Data Graph')

AttributeError: 'DataFrame' object has no attribute 'Date'

# Question 6 - GameStop Stock and Revenue Dashboard

In [59]:
make_graph(gme_data, gme_revenue, 'GameStop Stock Data Graph')

AttributeError: 'DataFrame' object has no attribute 'Date'